// compteur de soutien
let compteur = 0;

function clic() {
    compteur++;
    document.getElementById("compteur").innerText = compteur;
}

// accordion programme
document.querySelectorAll(".accordion-btn").forEach(btn => {
    btn.addEventListener("click", () => {
        let content = btn.nextElementSibling;

        content.style.display =
            content.style.display === "block" ? "none" : "block";
    });
});

// formulaire
document.getElementById("formulaire").addEventListener("submit", function(e){
    e.preventDefault();
    document.getElementById("message").innerText =
        "Merci pour votre engagement !";
});

        .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
    url("fond.jpg");

    background-size: cover;
    background-position: center;
}
